[flake8]
# Docstrings and comments should be an exception to line length
max-doc-length = 300
# TODO: Flake8 doesn't seem to respect docstring length
max-line-length = 300
# Exclude these directories for linting
exclude =
    .git,
    __pycache__,
    old,
    build,
    dist,
    _dev
