# Packaging tools
build
setuptools

# Documentation tools
twine
sphinx
sphinx-rtd-theme
sphinx-rtd-dark-mode

# Added tools for development
jupyterlab
# tqdm
# scikit-learn
# jupyterlab
# pandas
# numpy

# The package itself
-e .
